/*BACKGROUND*/
body {
  background: url("../img/greyfloralcopy.png");
}
/*FONTS*/
h2{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    
}
h1{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    padding-left: 12.3em;
}
h3{
     font-family: 'Oxygen', sans-serif;
    color: #2E272D;
}
p{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
}
.links{
    padding-bottom: 2em;
    padding-left: 20em;
}
/*NAVIGATIONS*/
a:link,
a:visited {
    color: #2E272D;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

a:hover{
   background: #DFBB9F; 
}

a:active{
    background: #905E67;
}

.megan{
   font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    font-size: 40px;
    padding-left: 20px;
}

/*LIGHTBOX STUFF*/

/* Global */
* {
  box-sizing: border-box;
}

/* Layout with Flexbox */
.gallery {
 display: flex;
 flex-flow: row wrap;
}

figure {
  background: #eee;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  /* Set `flex-basis` to any value */
  flex: 1 0 300px;
   
  
  
  /* Child & Also Parent   */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/* Specific Gallery Styling. Have Fun! */
figure img {
    height: 150px;
    width: 150px;
    border: 5px solid #614554;
    

}

figure p {
  
}

/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
    
    
  
/* Overlay Styling   */
  background:rgba(0,0,0,.75);
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  
  
}
.overlay img {
    height: 100%;
    width: 75%;
    border: 2px double #614554;
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: center;
  align-items: center; 
 
    
}

/* Close Button  */
.overlay a {
  color: black;
  text-decoration: none;
  font-size: 2em;
}