/*BACKGROUND*/
body {
  background: url("../img/greyfloralcopy.png");
}
/*FONTS*/
h2{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    
}
h1{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    padding-left: 12.3em;
}
h3{
     font-family: 'Oxygen', sans-serif;
    color: #2E272D;
}
p{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D;
}
.links{
    padding-bottom: 2em;
    padding-left: 20em;
}
/*NAVIGATIONS*/
a:link,
a:visited {
    color: #2E272D;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

a:hover{
   background: #DFBB9F; 
}

a:active{
    background: #905E67;
}

.megan{
   font-family: 'Oxygen', sans-serif;
    color: #2E272D;
    font-size: 40px;
    padding-left: 20px;
}

/*LIGHTBOX STUFF*/

*{
    margin: 0px;
    padding: 0px;
}
#gallery{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
   -webkit-flex-wrap: wrap;
   
}

#thumbs{
    
    height: 150px;
    width: 150px;
    border: 5px solid #614554;
    margin: 20px;
    float: left;
}

#thumbs img {
    height: 100%;
    width: 100%;
}

.lightbox{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(72,73,74, 0.8);
    height: 100%;
    width: 100%;
}

.lightbox:target {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

#outer{
    width: min-content;
    background-color: #C48B84; 
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
}

#inner{
  
}

#inner img{
    max-height: 800px;
    max-width: 500px;
    
}


#title {
    font-size: 22px;
    color:  #614554;
}

.lightbox a{
    font-size: 22px;
    color: grey;
    text-decoration: none;
}

#close{
    float: right;
}