body {
  background: url("../img/greyfloralcopy.png");
}
img{
    width: 50em;
}
/* FONTS */

h2{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
h1{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
h3{
     font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
p{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
/*SOMETHING IDK*/
h1{
    padding-left: 12.3em;
}
.links{
    padding-bottom: 1em;
    padding-left: 20em;
}
.bio {
  background: #C48B84;
  border: .625em double #F9C095;
  padding: 1em;
  width: 25em;
  font-family: 'Oxygen', sans-serif;
    color: #2E272D
  }
section img {
    background: #DFBB9F; 
    border: .625em double #614554;
    position: relative;
    min-width: 20em;
    max-height: 20em;
    right: -30.625em;
    top: -47.5625em;
}
.objective {
    background: url("../img/stardust.png");
    border: .625em double #905E67;
    padding: 1em;
    position: relative;
    width: 20%;
    height: 20%;
    right: -47.8125em;
    top: -64.6875em;
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}
objective, .ob{
      font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}
.certs {
    background: #614554;
    border: .625em double #DFBB9F;
    padding: 1em;
    position: relative;
    width: 50%;
    height: 30%;
    right: -30.625em;
    top:  -62.5em;
    font-family: 'Oxygen', sans-serif;
    color: #000;
}
#resume {
    background: #DFBB9F;
    border: .625em double #C48B84;
    padding: 1em;
    width: 62.5em;
    height: 80em;
    margin-left: 1.875em;
    margin-top: -61em;
    font-family:'Oxygen', sans-serif;
    color: #2E272D;
    
}

/* NAVIGATIONS */
a:link,
a:visited {
    color: #2E272D;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

a:hover{
   background: #DFBB9F;
   margin-left: 1.25em; 
}

a:active{
    background: #905E67;
}

