body {
  background: url("../img/greyfloralcopy.png");
}
img{
    width: 50%
}
/* FONTS */

h2{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
h1{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
h3{
     font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
p{
    font-family: 'Oxygen', sans-serif;
    color: #2E272D
}
/*SOMETHING IDK*/
h1{
    padding-left: 12.3em;
}
.links{
    padding-bottom: 1em;
    padding-left: 20em;
}
.bio {
  background: #C48B84;
  border: 10px double #F9C095;
  padding: 1em;
  width: 400px;
  font-family: 'Oxygen', sans-serif;
    color: #2E272D
  }
section img {
    background: #DFBB9F; 
    border: 10px double #614554;
    position: relative;
    width: 20%;
    height: 20%;
    right: -490px;
    top: -761px;
}
.objective {
    background: url("../img/stardust.png");
    border: 10px double #905E67;
    padding: 1em;
    position: relative;
    width: 20%;
    height: 20%;
    right: -765px;
    top: -1035px;
    font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}
objective, .ob{
      font-family: 'Oxygen', sans-serif;
    color: whitesmoke;
}
.certs {
    background: #614554;
    border: 10px double #DFBB9F;
    padding: 1em;
    position: relative;
    width: 50%;
    height: 30%;
    right: -490px;
    top:  -1000px;
    font-family: 'Oxygen', sans-serif;
    color: #000;
}
.resume {
    background: #DFBB9F;
    border: 10px double #C48B84;
    padding: 1em;
    width: 1000px;
    height: 80em;
    margin-left: 30px;
    margin-top: -61em;
    font-family:'Oxygen', sans-serif;
    color: #2E272D;
    
}

/* NAVIGATIONS */
a:link,
a:visited {
    color: #2E272D;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

a:hover{
   background: #DFBB9F;
   margin-left: 20px; 
}

a:active{
    background: #905E67;
}